@{
    ViewBag.Title = "Confirmation";
}
<h2>@ViewBag.Title.</h2>

@if (ViewBag.Error == null)
{
<address>
    <strong>Certificate:</strong> @ViewBag.Certificate<br />
    <strong>TimeStamp:</strong> @ViewBag.TimeStamp<br />
    <strong>Content:</strong>  @ViewBag.Content
</address>

    <p>@ViewBag.Message</p>
}
else
{
    <div class="alert alert-danger">
        <strong>Warning!</strong> @ViewBag.Error
    </div>
}